# LEGO Data Analysis

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Getting data

In [56]:
sets = pd.read_csv('/Users/Andrew/Desktop/Portfolio_Projects/Python/Raw_Data/Lego_Raw_Data/sets.csv')
## sets

In [57]:
themes = pd.read_csv('/Users/Andrew/Desktop/Portfolio_Projects/Python/Raw_Data/Lego_Raw_Data/themes.csv')
## themes

### Display top 10 rows of the sets dataset

In [4]:
sets.head(10)

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
5,0014-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0014-1.jpg
6,0015-1,Space Mini-Figures,1979,143,18,https://cdn.rebrickable.com/media/sets/0015-1.jpg
7,0016-1,Castle Mini Figures,1979,189,15,https://cdn.rebrickable.com/media/sets/0016-1.jpg
8,002-1,4.5V Samsonite Gears Motor Set,1965,1,3,https://cdn.rebrickable.com/media/sets/002-1.jpg
9,002253963-1,Legend of Chima: Corbeaux et Gorilles,2013,497,4,https://cdn.rebrickable.com/media/sets/0022539...

### Display last 10 rows of the sets dataset

In [5]:
sets.tail(10)

,set_num,name,year,theme_id,num_parts,img_url
19841,XBOXGAME-1,Batman the Videogame - Xbox 360,2008,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
19842,XBOXGAME-2,Bionicle Heroes - Xbox 360,2006,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
19843,XBOXGAME-3,DC Super-Villains - Xbox One,2018,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
19844,XBOXGAME-9,Star Wars: The Video Game - Xbox,2005,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
19845,XMASTREE-1,Christmas Tree,2019,410,26,https://cdn.rebrickable.com/media/sets/xmastre...
19846,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
19847,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
19848,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
19849,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
19850,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

### Check datatypes of each column

In [6]:
sets.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
img_url      object
dtype: object

### Check for nulls

In [7]:
sets.isnull().sum()

set_num      0
name         0
year         0
theme_id     0
num_parts    0
img_url      0
dtype: int64

In [8]:
themes.isnull().sum()

id             0
name           0
parent_id    141
dtype: int64

### How many rows and columns are in our datasets

In [9]:
sets.shape

(19851, 6)

In [10]:
len(sets.columns)

6

In [11]:
len(sets)

19851

In [12]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19851 entries, 0 to 19850
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    19851 non-null  object
 1   name       19851 non-null  object
 2   year       19851 non-null  int64
 3   theme_id   19851 non-null  int64
 4   num_parts  19851 non-null  int64
 5   img_url    19851 non-null  object
dtypes: int64(3), object(3)
memory usage: 930.6+ KB

## Merge Data

### Joining the two datasets to answer questions

In [13]:
sets_themes = pd.merge(sets, themes, how = 'left', left_on = 'theme_id', right_on = 'id', suffixes = ('_sets', '_themes'))

In [14]:
sets_themes.head()

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0

In [15]:
sets_themes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19851 entries, 0 to 19850
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   set_num      19851 non-null  object
 1   name_sets    19851 non-null  object
 2   year         19851 non-null  int64
 3   theme_id     19851 non-null  int64
 4   num_parts    19851 non-null  int64
 5   img_url      19851 non-null  object
 6   id           19851 non-null  int64
 7   name_themes  19851 non-null  object
 8   parent_id    10868 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 1.5+ MB

## Now let's answer some questions

### What is the total number of parts per theme?

In [58]:
Num_Parts_per_Theme = sets_themes.groupby('name_themes').sum().reset_index()
Num_Parts_per_Theme = Num_Parts_per_Theme[['name_themes', 'num_parts']].sort_values('num_parts', ascending = False)
Num_Parts_per_Theme.head(10)

                   name_themes  num_parts
317                    Technic     234807
303                  Star Wars     230445
216                    Ninjago     101844
122                    Friends     101250
346  Ultimate Collector Series      98625
71              Creator Expert      79053
152                      Icons      71581
70              Creator 3-in-1      68325
139               Harry Potter      68247
174      LEGO Ideas and CUUSOO      58963

### What is the total number of parts per year?

In [17]:
Num_Parts_per_Year = sets_themes.groupby('year').sum().reset_index()
Num_Parts_per_Year = Num_Parts_per_Year[['year', 'num_parts']].sort_values('num_parts', ascending = False)
Num_Parts_per_Year

    year  num_parts
70  2021     265017
71  2022     257584
69  2020     212069
68  2019     191837
66  2017     178360
..   ...        ...
5   1956        249
3   1954        117
8   1959         65
2   1953         50
1   1950          6

[72 rows x 2 columns]

### How many sets were created in each century in the dataset?

#### We have to add century as a derived column to sets_themes dataset

In [18]:
unique_year = sets_themes['year'].unique()
unique_year.sort()
unique_year

array([1949, 1950, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022])

In [20]:
sets_themes['year'] > 2000

sets_themes['Century'] = np.where(sets_themes['year'] > 2000, '21st_Century', '20th_Century')

In [60]:
sets_themes.shape

(19851, 10)

In [22]:
Num_sets_per_Century = sets_themes.groupby('Century').count().reset_index()
Num_sets_per_Century [['Century', 'set_num']]

        Century  set_num
0  20th_Century     4926
1  21st_Century    14925

### What percentage of sets ever released in the 21st Century were Trains Themed?

In [25]:
Century_21_Data = sets_themes[sets_themes['Century'] == '21st_Century']
Train = Century_21_Data[Century_21_Data['name_themes'].str.contains('Train')]

In [27]:
Century_21_Data.shape[0]

14925

In [28]:
Train.shape[0]

66

In [29]:
Train.shape[0] / Century_21_Data.shape[0] * 100

0.4422110552763819

### What percentage of sets ever released in the 21st Century were Disney Themed?

In [61]:
Disney = Century_21_Data[Century_21_Data['name_themes'].str.contains('Disney')]
Disney.head(10)

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,Century
426,10509-1,Dusty and Chug,2013,627,16,https://cdn.rebrickable.com/media/sets/10509-1...,627,Disney Planes,504.0,21st_Century
428,10510-1,Ripslinger's Air Race,2013,627,40,https://cdn.rebrickable.com/media/sets/10510-1...,627,Disney Planes,504.0,21st_Century
429,10511-1,Skipper's Flight School,2013,627,53,https://cdn.rebrickable.com/media/sets/10511-1...,627,Disney Planes,504.0,21st_Century
433,10515-1,Ariel's Undersea Castle,2013,640,39,https://cdn.rebrickable.com/media/sets/10515-1...,640,Disney Princess,504.0,21st_Century
434,10516-1,Ariel's Magical Boat Ride,2012,640,30,https://cdn.rebrickable.com/media/sets/10516-1...,640,Disney Princess,504.0,21st_Century
449,10531-1,Mickey Mouse and Friends,2012,641,65,https://cdn.rebrickable.com/media/sets/10531-1...,641,Disney's Mickey Mouse,504.0,21st_Century
451,10538-1,Fire and Rescue Team,2014,627,30,https://cdn.rebrickable.com/media/sets/10538-1...,627,Disney Planes,504.0,21st_Century
454,10542-1,Sleeping Beauty's Fairy Tale,2014,640,55,https://cdn.rebrickable.com/media/sets/10542-1...,640,Disney Princess,504.0,21st_Century
484,10579-1,Clubhouse Café,2014,641,17,https://cdn.rebrickable.com/media/sets/10579-1...,641,Disney's Mickey Mouse,504.0,21st_Century
500,10596-1,Disney Princess Collection,2015,640,63,https://cdn.rebrickable.com/media/sets/10596-1...,640,Disney Princess,504.0,21st_Century

In [32]:
Disney.shape[0]

188

In [33]:
Disney.shape[0] / Century_21_Data.shape[0] * 100

1.2596314907872697

### What is the popular theme by year in terms of sets released in the 21st Century?

In [41]:
Popular_Theme_per_Year = Century_21_Data.groupby(['year', 'name_themes']).count().reset_index()
Popular_Theme_per_Year = Popular_Theme_per_Year[['year', 'name_themes', 'set_num']].sort_values('set_num', ascending = False)
Popular_Theme_per_Year.drop_duplicates('year').sort_values('year', ascending = False)

      year        name_themes  set_num
1589  2022               City       51
1528  2021               Gear      128
1439  2020            Friends       59
1399  2019  The LEGO Movie II       64
1306  2018          Star Wars       69
1221  2017          Star Wars       64
1136  2016          Star Wars       63
1037  2015          Star Wars       69
944   2014            Technic      116
848   2013          Star Wars       41
739   2012            Ninjago       47
662   2011            Ninjago       43
582   2010          Key Chain       44
531   2009             Racers       42
421   2008           Bionicle       36
381   2007          Key Chain       36
294   2006           Bionicle       44
234   2005           Bionicle       36
179   2004           Bionicle       48
115   2003           Bionicle       64
100   2002            Technic       65
7     2001           Bionicle       49

### What is the most produced color of lego ever in terms of quantity of parts?

In [62]:
colors = pd.read_csv('/Users/Andrew/Desktop/Portfolio_Projects/Python/Raw_Data/Lego_Raw_Data/colors.csv')
colors.head(10)

   id            name     rgb is_trans
0  -1       [Unknown]  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f
5   4             Red  C91A09        f
6   5       Dark Pink  C870A0        f
7   6           Brown  583927        f
8   7      Light Gray  9BA19D        f
9   8       Dark Gray  6D6E5C        f

In [63]:
inventory_parts = pd.read_csv('/Users/Andrew/Desktop/Portfolio_Projects/Python/Raw_Data/Lego_Raw_Data/inventory_parts.csv')
inventory_parts.info

<bound method DataFrame.info of          inventory_id         part_num  color_id  quantity is_spare  \
0                   1         48379c01        72         1        f
1                   1            48395         7         1        f
2                   1   stickerupn0077      9999         1        f
3                   1          upn0342         0         1        f
4                   1          upn0350        25         1        f
...               ...              ...       ...       ...      ...
1069094        152534      10066pr0001         0         1        f
1069095        152534      3626bpr0980        28         1        f
1069096        152534             4498        70         1        f
1069097        152534    970x308pr0469       308         1        f
1069098        152534  973c11h19pr2063       308         1        f

                                                   img_url
0        https://cdn.rebrickable.com/media/parts/photos...
1        https://cdn.rebrickable.com/media/parts/photos...
2                                                      NaN
3                                                      NaN
4                                                      NaN
...                                                    ...
1069094  https://cdn.rebrickable.com/media/parts/elemen...
1069095  https://cdn.rebrickable.com/media/parts/photos...
1069096  https://cdn.rebrickable.com/media/parts/elemen...
1069097  https://cdn.rebrickable.com/media/parts/elemen...
1069098  https://cdn.rebrickable.com/media/parts/elemen...

[1069099 rows x 6 columns]>

#### Join two datasets to answer the question

In [64]:
color_inventory = pd.merge(inventory_parts, colors, how = 'left', left_on = 'color_id', right_on = 'id')
color_inventory.info

<bound method DataFrame.info of          inventory_id         part_num  color_id  quantity is_spare  \
0                   1         48379c01        72         1        f
1                   1            48395         7         1        f
2                   1   stickerupn0077      9999         1        f
3                   1          upn0342         0         1        f
4                   1          upn0350        25         1        f
...               ...              ...       ...       ...      ...
1069094        152534      10066pr0001         0         1        f
1069095        152534      3626bpr0980        28         1        f
1069096        152534             4498        70         1        f
1069097        152534    970x308pr0469       308         1        f
1069098        152534  973c11h19pr2063       308         1        f

                                                   img_url    id  \
0        https://cdn.rebrickable.com/media/parts/photos...    72
1        https://cdn.rebrickable.com/media/parts/photos...     7
2                                                      NaN  9999
3                                                      NaN     0
4                                                      NaN    25
...                                                    ...   ...
1069094  https://cdn.rebrickable.com/media/parts/elemen...     0
1069095  https://cdn.rebrickable.com/media/parts/photos...    28
1069096  https://cdn.rebrickable.com/media/parts/elemen...    70
1069097  https://cdn.rebrickable.com/media/parts/elemen...   308
1069098  https://cdn.rebrickable.com/media/parts/elemen...   308

                         name     rgb is_trans
0            Dark Bluish Gray  6C6E68        f
1                  Light Gray  9BA19D        f
2        [No Color/Any Color]  05131D        f
3                       Black  05131D        f
4                      Orange  FE8A18        f
...                       ...     ...      ...
1069094                 Black  05131D        f
1069095              Dark Tan  958A73        f
1069096         Reddish Brown  582A12        f
1069097            Dark Brown  352100        f
1069098            Dark Brown  352100        f

[1069099 rows x 10 columns]>

In [65]:
color_inventory.rename(columns={'name': 'color_name'}, inplace = True)
color_inventory.head(10)

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,color_name,rgb,is_trans
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,NaN,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
5,3,2343,47,1,f,https://cdn.rebrickable.com/media/parts/elemen...,47,Trans-Clear,FCFCFC,t
6,3,3003,29,1,f,https://cdn.rebrickable.com/media/parts/elemen...,29,Bright Pink,E4ADC8,f
7,3,30176,2,1,f,https://cdn.rebrickable.com/media/parts/elemen...,2,Green,237841,f
8,3,3020,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
9,3,3022,15,2,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f

In [55]:
popular_color = color_inventory.groupby('color_name').sum().reset_index()
popular_color = popular_color[['color_name', 'quantity']].sort_values('quantity', ascending = False)
popular_color.head(10)

            color_name  quantity
1                Black    678064
58   Light Bluish Gray    410145
199              White    399191
23    Dark Bluish Gray    285199
137                Red    267514
2                 Blue    184743
200             Yellow    183032
155                Tan    133433
138      Reddish Brown    114839
60          Light Gray    102291